/* trunk-ignore-all(prettier) */
* {
    font-size: 18px;
}

html,
body,
main {
    background-color: #080710;
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
    font-weight: 400;
    text-shadow: rgb(77, 81, 86) 0px 0px 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

main {
    display: flex;
}

@media only screen and (max-width: 600px) {
    #sidebar {
        display: none;
        position: absolute;
        width: 90%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
    }

    #content {
        flex: 1;
    }

    #add-room,
    #user-form {
        width: 90%;
    }

    .message {
        max-width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    #sidebar {
        display: none;
        position: absolute;
        width: 70%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
    }

    #content {
        flex: 1;
    }

    #add-room,
    #user-form {
        width: 85%;
    }

    .message {
        max-width: 85%;
    }
}

@media only screen and (min-width: 768px) {
    #sidebar {
        display: none;
        position: absolute;
        width: 60%;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
    }

    #content {
        flex: 1;
    }

    #add-room,
    #user-form {
        width: 35%;
    }

    .message {
        max-width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    #toggle-menu {
        display: none;
    }

    #sidebar {
        position: static;
        display: flex;
        flex: 3 30%;
    }

    #content {
        flex: 7 100%;
    }

    #add-room,
    #user-form {
        width: 40%;
    }

    .message {
        max-width: 45%;
    }
}

@media only screen and (min-width: 1200px) {
    #toggle-menu {
        display: none;
    }

    #sidebar {
        position: static;
        display: flex;
        flex: 3 30%;
    }

    #content {
        flex: 7 100%;
    }

    #add-room,
    #user-form {
        width: 35%;
    }

    .message {
        max-width: 40%;
    }
}

#sidebar {
    flex-direction: column;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 4px;
    margin: 5px;
    z-index: 999;
}

#status {
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 2%;
}

#status.pending::before {
    content: "connected";
}

#status.pending {
    background-color: yellow;
    color: #000;
}

#status.connected::before {
    content: "connected";
}

#status.connected {
    background-color: green;
    color: #fff;
}

#status.reconnecting::before {
    content: "reconnecting";
}

#status.reconnecting {
    background-color: red;
    color: #fff;
}

#room-list,
#user-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    width: calc(100% - 6px);
    margin-right: 3px;
    margin-left: 3px;
}

#room-list {
    display: none;
}

.side-room,
.side-user {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.room,
.user {
    flex: 1;
    height: 100%;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}

.remove-room,
.remove-user {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #ffffff;
    max-width: calc(100% - 55px);
    cursor: pointer;
}

#sidebar input.active {
    background-color: rgba(255, 255, 255, 0.19);
    font-weight: bold;
}

.radio-container {
    display: flex;
    margin-bottom: 5px;
    height: 24px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    text-align: center;
    margin-top: 0;
    flex-grow: 1;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    line-height: 24px;
}

.radio-container input[type="radio"]:checked + label {
    background-color: #6f7479;
    color: white;
}

.radio-container label:hover {
    background-color: #636363;
}

#confirm-remove {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1000;
    display: none;
}

#confirm-remove-button {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-remove-button {
    margin-top: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#user-form {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1000;
    display: none;
}

#change-password {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-password {
    margin-top: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#old-password,
#new-password,
#confirm-password {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#logout {
    right: 0;
    color: red;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 3px;
}

#new-room-button {
    width: calc(100% - 8px);
    height: 50px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

#content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#top-bar {
    top: 13px;
    left: 8px;
    position: absolute;
    width: calc(100% - 16px);
    height: 50px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.13);
    color: #ffffff;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

#toggle-menu,
#user-menu {
    height: 100%;
    width: auto;
}

#user-menu {
    margin-left: auto;
}

#messages {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    bottom: 0;
    top: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#messages::-webkit-scrollbar {
    display: none;
}

#messages > div:first-of-type {
    margin-top: 70px;
}

.container-message {
    width: 100%;
    margin-bottom: 7px;
}

.container-message:last-child {
    margin-bottom: 70px;
}

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 25px 10px 10px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    word-wrap: break-word;
}

.minemess {
    display: flex;
    justify-content: flex-end;
}

.message .username {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
    width: fit-content;
}

.message .text {
    display: block;
    word-wrap: break-word;
}

#new-message {
    bottom: 0;
    left: 0;
    padding: 4px 8px 13px 8px;
    position: absolute;
    width: 100%;
    display: flex;
}

#message {
    flex: 1;
    margin-right: 5px;
    padding: 10px 25px 10px 10px;
    background-color: rgba(255, 255, 255, 0.13);
    color: #ffffff;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#send {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.13);
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#new-room-name,
#new-room-password,
#new-user-name {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#add-room,
#add-user {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1000;
    display: none;
}

#add-button,
#add-user-button {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#add-cancel,
#add-user-cancel {
    margin-top: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

::placeholder {
    color: #e5e5e5;
}
