* {
    font-size: 18px;
}

html,
body,
main {
    background-color: #080710;
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
    font-weight: 400;
    text-shadow: rgb(77, 81, 86) 0px 0px 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

main {
    display: flex;
}

@media only screen and (max-width: 600px) {
    #add-room {
        width: 90%;
    }

    .message {
        max-width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    #add-room {
        width: 85%;
    }

    .message {
        max-width: 85%;
    }
}

@media only screen and (min-width: 768px) {
    #add-room {
        width: 35%;
    }

    .message {
        max-width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    #add-room {
        width: 40%;
    }

    .message {
        max-width: 45%;
    }
}

@media only screen and (min-width: 1200px) {
    #add-room {
        width: 35%;
    }

    .message {
        max-width: 40%;
    }
}

#sidebar {
    flex: 3 30%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 4px;
    margin: 5px;
}

#status {
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 2%;
}

#status.pending::before {
    content: "connected";
}

#status.pending {
    background-color: yellow;
    color: #000;
}

#status.connected::before {
    content: "connected";
}

#status.connected {
    background-color: green;
    color: #fff;
}

#status.reconnecting::before {
    content: "reconnecting";
}

#status.reconnecting {
    background-color: red;
    color: #fff;
}

#room-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    width: calc(100% - 6px);
    margin-right: 3px;
    margin-left: 3px;
}

.side-room {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.room {
    flex: 1;
    height: 100%;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}

.remove-room {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #ffffff;
    max-width: calc(100% - 55px);
    cursor: pointer;
}

#sidebar input.active {
    background-color: rgba(255, 255, 255, 0.19);
    font-weight: bold;
}

#confirm-remove {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1000;
    display: none;
}

#confirm-remove-button {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-remove-button {
    margin-top: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#new-room-button {
    width: calc(100% - 8px);
    height: 50px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

#content {
    flex: 7 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#messages {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}

.container-message {
    width: 100%;
    margin-bottom: 7px;
}

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px 25px 10px 10px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    word-wrap: break-word;
}

.minemess {
    display: flex;
    justify-content: flex-end;
}

.message:last-child {
    margin-bottom: 0;
}

.message .username {
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
    width: fit-content;
}

.message .text {
    display: block;
    word-wrap: break-word;
}

#new-message {
    bottom: 0;
    padding: 4px 8px 13px 8px;
    position: sticky;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
}

#message {
    flex: 1;
    margin-right: 5px;
    padding: 10px 25px 10px 10px;
    background-color: rgba(255, 255, 255, 0.13);
    color: #ffffff;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#send {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.13);
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#new-room-name,
#new-room-password {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#add-room {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1000;
    display: none;
}

#add-button {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#add-cancel {
    margin-top: 10;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

::placeholder {
    color: #e5e5e5;
}

#add-room input:focus,
#add-room button:hover {
    filter: brightness(1.2);
}
