:root {
    --bg-dark: #242423;
    --bg-light: #666866;
    --bg-form-light: #333533;
    --fg-light: #e8eddf;
    --callout: rgb(255, 255, 102);
    --callout-dark: #101010;
}

* {
    font-size: 18px;
}

html,
body,
main {
    background-color: var(--bg-dark);
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
    font-weight: 400;
    text-shadow: rgb(77, 81, 86) 0px 0px 0px;
    height: 100%;
}

main {
    display: flex;
}

button:hover:not(.active) {
    filter: brightness(1.15);
    cursor: pointer;
}

form {
    display: flex;
    border-top: 2px solid #242424;
}

form input {
    height: 40px;
    background: var(--fg-light);
    color: var(--bg-dark);
}

input {
    padding: 0 10px;
    border-radius: 10px;
}

input:focus {
    outline: 0;
    filter: brightness(1.05);
}

input#username {
    text-align: right;
    flex: 1 25%;
    width: 25%;
    border-right: 1px solid #303030;
}

form button {
    padding: 0 10px;
}

@media only screen and (max-width: 600px) {
    #login {
        width: 85%;
        height: 55%;
    }

    #login-form {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    #login {
        width: 85%;
        height: 55%;
    }

    #login-form {
        width: 75%;
    }
}

@media only screen and (min-width: 768px) {
    #login {
        width: 70%;
        height: 55%;
    }

    #login-form {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    #login {
        width: 55%;
        height: 50%;
    }

    #login-form {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) {
    #login {
        width: 35%;
        height: 50%;
    }

    #login-form {
        width: 50%;
    }
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-form-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#login h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

#login-form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#login-form input {
    margin-bottom: 20px;
}
